dist/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>pageTitle</title>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="py-5 text-center"><img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Checkout form</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap&apos;s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4 todo"></div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Todo form</h4>
          <form class="todo-form needs-validation" novalidate="" onsubmit="Todo.add(this); return false;">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="name">Name</label>
                <input class="form-control" id="name" type="text" placeholder="" value="" required="" name="name">
                <div class="invalid-feedback">Valid name is required.</div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="description">Description</label>
                <input class="form-control" id="description" type="text" placeholder="" value="" required="" name="description">
                <div class="invalid-feedback">Valid description name is required.</div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
          </form>
        </div>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script defer="" src="/js/vendors~main.bundle.js"></script>
    <script defer="" src="/js/main.js"></script>
  </body>
</html>

src/index.pug
extends layout/main
block append styles
  link(rel="stylesheet" media='screen' href="/css/main.css")
block append scripts
  script(defer='', src='/js/vendors~main.bundle.js')
  script(defer='', src='/js/main.js')
block append content
  .container
    .py-5.text-center
      img.d-block.mx-auto.mb-4(src='https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg' alt='' width='72' height='72')
      h2 Checkout form
      p.lead
        | Below is an example form built entirely with Bootstrap&apos;s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.
    .row#app
    footer.my-5.pt-5.text-muted.text-center.text-small
      p.mb-1 &copy; 2017-2018 Company Name
      ul.list-inline
        li.list-inline-item
          a(href='#') Privacy
        li.list-inline-item
          a(href='#') Terms
        li.list-inline-item
          a(href='#') Support
